*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #D5E0EF;
    font-family: 'Outfit', sans-serif;
    height: 100%;
    margin: 0;
}

.max-width-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    min-height: 100%;
}

.content-wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 497px;
    width: 320px;  
}

figure {
    height: 288px;
    width: 288px;
    margin: 0; 
    margin-top: -12px; 
}

img {
    border-radius: 10px;
    width: 100%;
}

.content {
    text-align: center;
    width: 80%;
}

.content p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.content h1 {
    color: #193251;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.attribution {
    text-align: center;
}